*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration:none;
}
ul li{
    list-style-type:none;
}
form h2{
    text-align:center;
}
form label{
    width: 25%;
    margin: 0px;
    float: left;
}
form input[type="text"], form input[type="number"], form input[type="password"], form select {
    width: 75%;
    margin: 0px;
    float: left;
    border-radius: 10px;
    box-shadow:none;
    border: solid 1px gray;
}
form input[type="submit"], form button {
    border-radius: 10px;
    box-shadow: none;
    border: solid 1px gray;
    padding: 5px;
}